@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
html{height: 100%; position: relative}
body{background: #ebeff2; font-family: 'Roboto', sans-serif; font-size: 14px; margin: 0; padding: 0}
body.login{background: #55b460;}
*{padding: 0; margin: 0;}

/* ---- Forn Colors ------*/
.form-container input::-webkit-input-placeholder {color: #bababa}
.form-container input:-moz-placeholder {color: #bababa}
.form-container input::-moz-placeholder {color: #bababa}
.form-container input:-ms-input-placeholder {color: #bababa}
.top-menu a{color: #000; margin: 0 10px;}

/*------- Login Page --------*/
.form-container {bottom: 0; height: 168px; left: 0; margin: auto; position: fixed;right: 0;top: -150px;width: 450px;}
.form-container-inner {background: #fff; padding: 35px; -webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.55);
box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.55);}
.form-container input{ background: #f2f2f2; width: 92%; padding: 15px 4%; border: 0; margin-bottom: 10px; font-size: 16px;}
.form-container ul{ margin: 0; padding: 0; list-style: none}
.form-container button {background: #00b241;border: medium none; color: #fff; font-size: 17px; padding: 11px 0; cursor: pointer;width: 100%;}
.form-container h1{color: #fff; margin: 0 0 15px 0; font-size: 25px; text-align: center;text-transform: uppercase}
.error{ color: #ff0000; display: block;font-size: 12px; margin: 0 0 4px; padding: 8px 0; width: 96%;}


/*-------Dashboard Css --------*/
#side-menu {background: #262b33; height: 100%; left: 0; position: fixed;top: 0;z-index: 60; width: 230px; padding-top: 80px;}
#page-content{margin-left: 250px; margin-top: 100px;}
#site-header {background: #fff; border-bottom: 1px solid #c5d6de; left: 0; padding: 15px; position: fixed; top: 0; width: 100%; z-index: 99;height: 65px;}
#side-menu > li {line-height: 16px;}
nav ol, nav ul {list-style: none;}
#side-menu { margin: 0 0 25px;}
nav ol, nav ul {list-style: outside none none;}
#side-menu a, #side-menu > li > span {padding: 15px 10px 15px 46px;}
#side-menu a, #side-menu > li > span { border-left: 4px solid transparent;  cursor: pointer;display: block;position: relative;transition: all 0.2s ease-in-out 0s;}
#side-menu .fa{font-size: 16px; left: 18px; line-height: 16px; position: absolute; top: 18px; color: #35af87;}
#side-menu .lbl { color: rgba(255, 255, 255, 0.5); font-size: 13px; font-weight: normal;}
#side-menu .lbl {transition: all 0.2s ease-in-out 0s;}
#side-menu li.active, #side-menu a:hover, #side-menu li span:hover {background-color: #393d42; color: #fff !important; text-decoration: none;}
#side-menu li.opened .lbl {color: #fff;}
#side-menu li.grey.active a, #side-menu li.grey.active > span {border-left-color: #35af87;}


.box-typical { background: #fff; border: 1px solid #d8e2e7; border-radius: 4px; margin: 0 0 20px;}
.box-typical.box-typical-padding {padding: 30px;}
h1.with-border, h2.with-border, h3.with-border, h4.with-border, h5.with-border, h6.with-border {border-bottom: 1px solid #d8e2e7;padding-bottom: 8px;}
h5 { font-size: 20px; font-weight: 400; margin-top: 0; margin-bottom: 26px;}
.form-control:focus { border-color: #c5d6de;}
.form-control, select {background-color: #fff; background-image: none;border-radius: 0.25rem;line-height: 1.5;padding: 0.375rem 0.75rem; width: 100%; box-shadow: none;}
select{border: 1px solid #ccc;}
.checkbox input + label, .checkbox-bird input + label, .checkbox-detailed input + label, .checkbox-slide input + label, .checkbox-toggle input + label, .radio input + label, .form-label {font-size: 14px;}
.semibold {font-weight: 400;}
.form-label {display: block; margin-bottom: 6px;}
textarea{background-color: #fff; background-image: none;border-radius: 0.25rem;line-height: 1.5;padding: 0.375rem 0.75rem; width: 100%; box-shadow: none; border:1px solid #ccc;}
.btn.btn-secondary { background: #f44336;  border-color: #f44336; color: #fff !important;}
.btn-green { background-color: #35af87 !important; border-color: #35af87 !important; color: #fff !important; }
.form-group {margin-bottom: 5px;}
.mrb20{margin-bottom: 20px;}

.box-typical-header{}
.box-typical-header h3 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 18px;
    padding: 20px 28px 15px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    line-height: 1.42857;
    padding: 8px 30px;
}
#side-menu li.with-sub {
    transition: all 0.2s ease-in-out 0s;
}
#side-menu a, #side-menu li span {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
}

#side-menu li.with-sub > ul li a{
    padding-left: 70px;
}
#side-menu li.with-sub > ul li a .fa {
    left: 44px;
    top: 17px;
}
.adproduct .drop-zone {
    border: 2px dashed #adb7be;
    height: 197px;
    padding: 64px 0 0;
    text-align: center;
    width: 100%;
}
.drop-zone-caption {
    margin: 0 0 21px;
}
.drop-zone .fa {
    color: #919fa9;
    font-size: 2.75rem;
    line-height: 60px;
}
.btn-file {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
}
.btn-file input[type="file"] {
    cursor: pointer;
    height: 200px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1000px;
}
.btn.btn-rounded {
    border-radius: 25rem;
}

h1.main {
    font-size: 23px;
    margin: 0 0 20px;
}
form label.error,label.error{color:red;font-style:italic}
input{border:1px solid black;}
input.checkbox{border:none}
input:focus{border:1px dotted black;}
input.error{border:1px dotted red;}
form .gray *{color:gray;}
.red{color:red;}
.grey{ opacity: 0.5; }