@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(../images/bg-column.jpg) left top repeat;
    font-size: 15px;
}

.header {
    background: url(../images/bg-header.jpg) center top no-repeat #454a80;
    height: 462px;
}

.top-header {
    background: #3c3f76;
    margin: 0 0 75px 0;
    padding: 6px 0 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-text {
    margin: 0 0 165px;
    padding: 200px 0 0;
    text-align: center;
}

.header-text h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.header-text h2 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}

.header-text h3 {
    color: #fff;
}

.left {
    float: left;
}

.nav {
    float: right;
    margin: 30px 0 0 0;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0 15px;
    padding: 0;
    float: left;
}

.nav ul li.pipe {
    color: #fff;
    margin: 0 5px;
}

.nav ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.owl-carousel .owl-item h4 {
    font-weight: normal;
}

.owl-carousel .owl-item h3 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 15px;
}

.container {
    width: 990px !important;
    margin: 0 auto;
    padding: 0 !important;
}

.slider-wrapper {
    background: url(../images/bg-column.jpg) left top repeat;
    min-height: 170px;
    color: #fff;
    padding: 50px 0 0 0;
    text-align: center;
}

.owl-carousel {
    text-align: center;
}

.slider-wrapper a {
    color: #fff;
}

.col {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 136px;
    margin: 0 5px;
    text-align: center;
    width: 136px;
    position: relative;
}

.block-wrapper {
    margin-bottom: 15px;
    margin-top: -178px;
}

.block1 {
    background: #36346d;
}

.block2 {
    background: #009389;
}

.block3 {
    background: #f7941d;
}

.block1 img {
    left: 36px;
    position: absolute;
    top: 36px;
}

.block3 img {
    left: 40px;
    position: absolute;
    top: 32px;
}

.block2 img {
    left: 38px;
    position: absolute;
    top: 38px;
}

#about-wrapper {
    background: url("../images/bg-aboutblock.jpg") left top repeat rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 58px 0;
}

#about-wrapper a {
    color: #000;
}

#about-wrapper .left {
    margin: 0 50px 0 0;
    width: 32%;
}

#about-wrapper .right p {
    line-height: 25px;
    margin-bottom: 25px;
}

#about-wrapper .right {
    float: right;
    margin: 35px 0 0;
    width: 62%;
}

#about-wrapper .right h2 {
    margin: 0 0 15px 0;
    font-size: 32px;
    font-weight: normal;
}

.btn_about {
    background: #f7941d;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
}

#save-wrapper {
    background: url("../images/bg-save.png") right top no-repeat #1d1d1d;
    color: #fff;
    height: 148px;
    padding: 55px 0 16px;
}

#save-wrapper h2 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 5px;
}

#save-wrapper p {
    font-weight: 300;
}

#contact-wrapper {
    background: url("../images/bg-column.jpg") left top repeat rgba(0, 0, 0, 0);
    color: #fff;
    padding: 50px 0;
    overflow: hidden;
}

#contact-wrapper h2 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 5px;
}

#contact-wrapper p {
    margin-bottom: 25px;
}

.btn_contact {
    background: #f7941d;
    border-radius: 5px;
    color: #fff;
    float: right;
    margin: -35px 130px 0 0;
    padding: 5px 15px;
    text-decoration: none;
}

#footer {
    background: url(../images/bg-aboutblock.jpg) left top repeat;
    text-align: center;
    color: #000;
    padding: 15px 0;
}

#testimonial-wrapper {
    background: url("../images/bg-aboutblock.jpg") left top repeat rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 58px 0;
    text-align: center;
}

.bg .left img {
    width: 80%;
}

.bg .nav {
    margin: 22px 0 0;
}

.bg .top-header {
    padding: 6px 0;
}

#testimonial-wrapper h2 {
    margin-bottom: 25px;
}

#testimonial-wrapper p {
    margin-bottom: 15px;
}

#testimonial-wrapper span {
    font-style: italic;
}

#pricing-wrapper {
    background: url(../images/bg-column.jpg) left top repeat;
    min-height: 170px;
    color: #fff;
    padding: 58px 0;
    text-align: center;
}

.contact-col2 {
    float: right;
    width: 47%;
}

.contact-col1 {
    float: left;
    width: 50%;
}

#contact-wrapper input,
#contact-wrapper textarea {
    background: #fff;
    border: #dcdcdc solid 1px;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 10px;
    padding: 10px;
    width: 100%;
}

#contact-wrapper button {
    background: #f7941d;
    padding: 7px 15px;
    color: #fff;
    font-weight: bold;
    border: none;
}

.mobile-icon {
    display: none;
}

.signup .header-text {
    margin: -140px 0 0;
    padding: 0 0 15px;
}

.signup .header {
    height: 265px;
}

body.signup {
    background: url("../images/bg-aboutblock.jpg") left top repeat scroll;
}

.form_container {
    background: none 0 0 repeat scroll #fff;
    margin: 0 auto;
    padding: 34px;
    width: 370px;
    border: 1px solid #dbdbdb;
    box-sizing: unset
}

.form_container input {
    background: none 0 0 repeat scroll #f3f3f3;
    border: none medium;
    font-size: 15px;
    margin: 0 0 8px;
    padding: 13px 3%;
    width: 94%;
}
.form_container.register .terms_conditions a{cursor: pointer}
.form_container.register input {
    background: none 0 0 repeat scroll #f3f3f3;
    border: none medium;
    font-size: 15px;
    margin: 0 0 8px;
    padding: 13px 3%;
    width: 100%;
}

.form_container button {
    background: none 0 0 repeat scroll #f9951f;
    border: none medium;
    color: #fff;
    margin-bottom: 15px;
    font-size: 16px !important;
    padding: 13px;
    width: 100%;
    cursor: pointer;
}

.terms_conditions {
    margin: 7px 0;
}

.terms_conditions > span {
    float: left;
    margin: -4px 0 0 7px;
}

.terms_conditions input {
    float: left;
    width: auto !important;
}

.form_container li {
    float: left;
    width: 100%;
}

@media only screen and (max-width:767px) {
    .container {
        width: 96% !important;
        padding: 0 2%;
    }
    .mobile-icon {
        display: block;
        width: 24px;
        height: 20px;
        background: url(../images/menu-icon.png) left top no-repeat;
        cursor: pointer;
    }
    .left {
        margin-left: 20px;
    }
    .nav ul {
        text-align: center;
    }
    .right.wow.slideInRight {
        float: right;
        margin: 30px 20px 0 0;
    }
    .nav ul li {
        text-align: center;
        display: inline-block;
        float: none;
    }
    .header-text h1 {
        font-size: 20px;
    }
    .header-text {
        margin: 0 0 100px;
        padding: 180px 0 0;
    }
    .col img {
        width: 38%;
    }
    .col {
        width: 90px;
        height: 90px;
    }
    .block1 img {
        left: 28px;
        position: absolute;
        top: 29px;
    }
    .block2 img {
        left: 28px;
        position: absolute;
        top: 30px;
    }
    .block3 img {
        left: 29px;
        position: absolute;
        top: 25px;
    }
    .open {
        display: block !important;
    }
    #save-wrapper {
        background: #040406;
        color: #fff;
        height: auto;
        padding: 32px 0;
    }
    #contact-wrapper input,
    #contact-wrapper textarea {
        width: 90%;
    }
    .block1 {
        height: 60px;
        padding: 31px 0 0;
    }
    .contact-col1,
    .contact-col2 {
        width: 100%;
    }
    .header-text h2 {
        font-size: 15px;
    }
    #about-wrapper .left,
    #about-wrapper .right {
        width: 100%;
    }
    #contact-wrapper {
        height: auto;
        padding: 26px 0 10px 0;
        float: left;
    }
    #footer {
        float: left;
        width: 100%;
    }
    .btn_contact {
        float: left;
        margin: 21px 0 25px;
        padding: 5px 15px;
    }
    .block-wrapper {
        margin-bottom: 15px;
        margin-top: -100px;
    }
    .slider-wrapper {
        padding-bottom: 25px;
        height: auto;
    }
    .mobile {
        background: url("../images/bg-column.jpg") left top repeat;
        display: none;
        margin: 0 !important;
        padding: 15px 36px 15px 0;
        position: absolute;
        right: 0;
        top: 80px;
        width: 31%;
        z-index: 99999;
    }
    .nav ul li.pipe {
        display: none;
    }
    .nav ul li {
        display: inline-block;
        float: none;
        text-align: right;
        width: 100%;
        padding: 5px 0;
    }
    #contact-wrapper h2 {
        font-size: 26px;
        font-weight: normal;
        line-height: 27px;
        margin-bottom: 15px;
    }
    #about-wrapper .form_container {
        background: #fff none repeat scroll 0 0;
        margin: 0 auto;
        padding: 12px;
        width: 90%;
    }
}

.login_here a,
.register_here a,
.login_here {
    font-size: 12px;
}

.register_here {
    float: right;
}

.alert-success {
    margin-bottom: 20px;
    text-align: center;
    color: green;
}

.alert-danger {
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

form label.error,
label.error {
    color: red;
    font-style: italic
}

input {
    border: 1px solid black;
}

input.checkbox {
    border: none
}

input:focus {
    border: 1px dotted black;
}

input.error {
    border: 1px dotted red;
}

form .gray * {
    color: gray;
}

.red {
    color: red;
}

.grey {
    opacity: 0.5;
}

.alert button {
    display: none;
}